/*Element Selector*/
p{
    color: blue;
    border: 40px solid pink;
}
div{
    color:purple;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 40%;
    margin-left: auto;

}
/*class Selctor*/
/* .c1{
    color:darkorchid;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 200;
    border: 10px solid pink;

}
.c2{
    color:hotpink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 100;
    border:20px;

} */
 /*id selector*/
 /* #p1{
    color:hotpink;
    background-color: blue;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;

 }
 #p2{
    color:brown;
    background-color: chartreuse;
    font-family: :'Courier New', Courier, monospace;
    font-size:medium;

 }
 #p3{
    color:chocolate;
    background-color: aqua;
    font-size: large;

 }
 #p4{
    color:crimson;
    background-color: azure;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 } */
  /*universal selector*/
  *{
    color:aliceblue;
    background-color: rgb(246, 255, 127);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 200;
  }